<% layout("./boilerplate.ejs") %>

<div class="landing-page d-flex flex-column align-items-center justify-content-center p-5">
    <a href="/api/v1/contact" class="fs-1 btn btn-outline-dark">Check All Messagess</a>
</div>
