@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f3f4f6;
    font-family: "Poppins", sans-serif !important;
}

a {
    all: unset;
    cursor: pointer;
}

hr, p {
    margin: 0 !important;
}

.landing-page {
    width: 99.90dvw;
    height: 99.90dvh;
    background: linear-gradient(
      45deg,
      #3498db,
      #2ecc71
    );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .landing-page::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
  }
  

.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.head-bg {
    background-color: #5AB2FF;
    color: #f3f4f6;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    border-radius: .5rem;
}

/* ===================================================== */

.contact {
    min-height: 17rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    transition: all ease .3s;
}
.contact:hover {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    transform: translateY(-4px);
}

.contact-name {
    background-color: #5AB2FF;
    color: #f3f4f6;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.contact-msg {
    font-size: .93rem;
}

.contact-date, .contact-mail {
    font-size: .7rem;
    transition: all ease .2s;
}
.contact-mail:hover {
    opacity: 1;
}
.contact-date {
    opacity: .7;
}

.btn-sm  {
    font-size: .8rem;
}
.btn-sm.btn-primary {
    background-color: transparent;
    color: #5AB2FF;
    border: 1px solid #5AB2FF;
}
.btn-sm.btn-primary:hover {
    background-color: #5AB2FF;
    color: #f3f4f6;
}

/* ===================================================== */

.message-box {
    min-height: 99.90dvh;
    width: 100%;
}

.message-box-inner {
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    border-radius: .5rem;
}

.message-box-inner h1 {
    color: #5AB2FF;
}

@media screen and (max-width: 768px) {
    .message-box-inner {
        width: 100%;
    }
}